aiofiles
aiohttp==3.9.5
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx==0.25.2
motor
numpy
opencv-python-headless
pytz
pillow==9.5.0
psutil
py-tgcalls==0.9.7
gTTS
